@model IEnumerable<DataAccess.Models.Member>

@{
    ViewData["Title"] = "MemberPage";
}

<h1>Member Page</h1>

<p>
    <a asp-action="CreateMember">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="EditMember" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-action="DetailsMember" asp-route-id="@item.MemberId">Details</a> |
                <a asp-action="DeleteMember" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
